body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: auto;
}

.standart {
    color:#000000
}

.text-on-picture {
    color:#FFFFFF
}

.info {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr min-content 1fr;  
    justify-items: center;
    align-items: center;
  }

.header {
    padding: 92px 24px;
    font-size: 18px;
}

.header_menu-list {
    display: flex;
    width: 391px;
    justify-content: space-between;
    margin-right: 15px;
    list-style: circle;
}

.header_menu-item_no-bullit {
    list-style: none;
}

.header_menu-item_active .header_menu-link {
    text-decoration: none;
}

.header_logo {
    display: block;
    width: 148px;
}

.address {
    padding-left: 180px;
    font-style: normal;
}

.cover {
    position: relative;
    padding: 165px 50px 51px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.cover::after {
    content: "";
    background-color:#000000;
    opacity: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:1;
}

.cover_title {
    /*width: 100%;*/
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    z-index: 2;
    /*letter-spacing: 0.3em;*/
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
    /*letter-spacing: ;*/
}

.text-right {
    text-align: right;
    /*letter-spacing: ;*/
}

.lots {
    padding: 177px 24px 184px;
}

.h3_title {
    color:#000000;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    padding-top: 27px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.lots__heading {
    padding-left: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 563px;
}

.card_title {
    padding-top: 80px;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 22px;
    z-index:2;
}

.card_text {
    z-index:2;
    font-size: 20px;
    padding-bottom: 80px;
    padding-left: 40px;
}

.about_lot_type_film{
    z-index:2;

}

.about_lot_type_book{
    z-index:2;
}

.about_lot_type_picture{
    z-index:2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: relative;
}

.card_type_film::after {
    content: "";
    background-color:#000000;
    opacity: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:1;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: relative;
}

.card_type_book::after {
    content: "";
    background-color:#000000;
    opacity: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:1;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: relative;
}

.card_type_picture::after {
    content: "";
    background-color:#000000;
    opacity: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:1;
}

.lots__look-more-link {
    font-size: 20px;
}

.about {
    padding: 24px;
    display: grid;
}

.about__logo {
    display: block;
    height: 240px;
    border-radius: 120px;
}

.about__text {
    font-size: 20px;
}

.footer {
    padding: 50px;
}

