/*GENERAL*/

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.standart {
    color: #000000
}

.text-on-picture {
    color: #FFFFFF
}

/*HEADER*/

.header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr min-content 1fr;
    justify-items: center;
    align-items: center;
    padding: 88px 24px;
    font-size: 18px;
}

.header_menu {
    width: 391px;
    margin-right: 15px;
}

.header_menu-list {
    display: flex;
    justify-content: space-between;
    list-style: circle;
}

.header_menu-item_no-bullit {
    list-style: none;
}

.header_menu-item_active .header_menu-link {
    text-decoration: none;
}

.header_logo {
    display: block;
    width: 148px;
}

.address {
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
}

.header_address {
    padding-left: 130px;
}

/*COVER*/

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background: url(../images/cover.jpg) center no-repeat;
    background-size: cover;
}

.cover::after, 
.card_type_picture::after, 
.card_type_book::after, 
.card_type_film::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 60%;
}

.cover_title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.accent-span {
    display: block;
}

.text-left {
    line-height: 115px;
}

.text-center {
    text-align: center;
    margin-top: 20px;
    padding-inline-end: 60px;
}

.text-right {
    text-align: right;
    margin-top: 20px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 135px;
}

.cover__description-text {
    margin-left: 28px;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 0.84em;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid currentColor;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 500;
    /*line-height: calc(26/22*100%);*/
    line-height: 25.83px;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
}

/*LOTS*/

.lots {
    padding: 177px 24px 184px;
}

.section_title {
    color: #000000;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 27px;
    padding-bottom: 30px;
}

.lots__heading {
    padding-left: 40px;
}

.card-link {
    display: inline-block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 563px;
}

.card_title {
    z-index: 2;
    padding-top: 51px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.card_text {
    z-index: 2;
    font-size: 20px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 24px;
    text-align: left;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) center no-repeat;
    background-size: cover;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) center no-repeat;
    background-size: cover;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) center no-repeat;
    background-size: cover;
}

.lots__look-more-link {
    font-size: 20px;
    padding-left: 40px;
}

/*ABOUT*/

.about {
    display: grid;
    padding-right: 24px;
    padding-left: 71px;
    padding-bottom: 180px;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 240px 1fr;
    column-gap: 72px;
    row-gap: 8px;
}

.about__column {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
    margin-bottom: 320px;
}

.about__logo {
    display: flex;
    height: 240px;
    width: 240px;
    background-color: #000000;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    margin: auto;
}

.about_title {
    padding-top: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 88px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-inline-start: 30px; 
}

.footer__menu-link {
    font-size: 18px;
    line-height: 21px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: center;
    gap: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
}